@model List<EntityDBFIRST.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<form class="form-inline" action="/Products/Index">
    <label for="search">Search</label>
    <input type="search" class="form-control" id="search" name="search" placeholder="search" value="@ViewBag.search" />
    <button type="submit" class="btn btn-primary">Go</button>
    <div> <a href="/products/Create/">Create</a></div>
</form>
<table class="table">
   
        
    <tr>
        <th style="width:15%">
            photo
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=ProductID&IconClass=fa-sort-asc">Product ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=ProductID&IconClass=fa-sort-desc">Product ID</a>
                if (ViewBag.SortColumn == "ProductID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:20%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=ProducName&IconClass=fa-sort-asc">Product Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
                <a href="/products/index?SortColumn=ProductName&IconClass=fa-sort-desc">Product Name</a>
                if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
                <a href="/products/index?SortColumn=Price&IconClass=fa-sort-asc">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/products/index?SortColumn=Price&IconClass=fa-sort-desc">Price</a>
                if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/products/index?SortColumn=DateofPurchase&IconClass=fa-sort-asc">DateofPurchase</a>
                if (ViewBag.SortColumn == "DateofPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/products/index?SortColumn=DateofPurchase&IconClass=fa-sort-desc">DateofPurchase</a>
                if (ViewBag.SortColumn == "DateofPurchase")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }

            
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-asc">AvailabilityStatus</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/products/index?SortColumn=AvailabilityStatus&IconClass=fa-sort-desc">AvailabilityStatus</a>
                if (ViewBag.SortColumn == "AvailabilityStatus")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/products/index?SortColumn=CategoryID&IconClass=fa-sort-asc">CategoryID</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/products/index?SortColumn=CategoryID&IconClass=fa-sort-desc">CategoryID</a>
                if (ViewBag.SortColumn == "CategoryID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            
        </th>
        <th style="width:10%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/products/index?SortColumn=BrandID&IconClass=fa-sort-asc">BrandID</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/products/index?SortColumn=BrandID&IconClass=fa-sort-desc">BrandID</a>
                if (ViewBag.SortColumn == "BrandID")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            
        </th>
        <th style="width:5%">
            @if (ViewBag.IconClass == "fa-sort-desc")
            {
            <a href="/products/index?SortColumn=Active&IconClass=fa-sort-asc">Active</a>
                if (ViewBag.SortColumn == "Active")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            else
            {
        <a href="/products/index?SortColumn=Active&IconClass=fa-sort-desc">Active</a>
                if (ViewBag.SortColumn == "Active")
                {
                    <i class="fa @ViewBag.IconClass"></i>
                }
            }
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="data:image;base64,@item.Photo" width="100px" /></td>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>
                @if (item.Price.HasValue)
                {
                    <span>@item.Price.Value.ToString("C")</span>
                }
            </td>
            <td>
                @if (item.DateofPurchase != null)
                {
                    <span>@item.DateofPurchase.Value.ToString("d/M/yyyy")</span>
                }
            </td>
            <td>@item.AvailabilityStatus</td>

            <td>
                @if (item.Category != null)
                {
                    <span>@item.Category.CategoryName</span>
                }
            </td>
            <td>
                @if (item.Brand != null)
                {
                    <span>@item.Brand.BrandName</span>
                }
            </td>
            <td>@item.Active</td>
            <td>
                <a href="/products/Details/@item.ProductID">Details</a>
                <a href="/products/Edit/@item.ProductID">Edit</a>
                <a href="/products/Delete/@item.ProductID">Delete</a>
            </td>
        </tr>
    }


</table>

