@model EmployeProj.Models.Empploye
@{
    ViewBag.Title = "Edit";
    Layout = Layout = "~/Areas/Manager/Views/Shared/_ManagerLayoutPage1.cshtml";
}

<h2>Edit</h2>
<form action="/Manager/Employe/Edit/@Model.EmployeId " method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="EmployeName">EmployeName</label>
            <input type="hidden" name="EmployeId" value="@Model.EmployeId" />
            <input type="text" class="form-control" id="EmployeName" name="EmployeName" placeholder="EmployeName" value="@Model.EmployeName" />
        </div>
        <div class="form-group col-md-6">
            <label for="Designation">Designation</label>
            <input type="text" class="form-control" id="Designation" name="Designation" placeholder="Designation" value="@Model.Designation" />
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="DateOfJoing">DateOfJoing</label>
            <input type="date" class="form-control" id="DateOfJoing" name="DateOfJoing" value="@Model.DateOfJoing.Value.ToString("yyyy-MM-dd")" />
        </div>
        <div class="form-group col-md-6">
            <label for="Adress">City</label>
            <input type="text" class="form-control" id="City" name="City" placeholder="City"
                   value="@Model.City" />
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Contact">Contact</label>
            <input type="text" class="form-control" id="Contact" name="Contact" placeholder="Contact" value="@Model.Contact" />
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">Deparment Name</label>
            <select class="form-control" name="DepartmentId">

                <option value="@Model.DepartmentId">@Model.Department.DepartmentName</option>
                @foreach (var Dept in ViewBag.Department)
                {
                    <option value="@Dept.DepartmentId">@Dept.DepartmentName</option>
                }

            </select>
            @Html.ValidationMessageFor(temp => temp.DepartmentId)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.Status, new { @class = "form-check-label" })
            @Html.DropDownListFor(temp => temp.Status, new List<SelectListItem>(){
            new SelectListItem() { Text = "Permanant", Value = "Permanant" },
            new SelectListItem() { Text = "Traine", Value = "Traine" }
            }, "Please Select", new { @class = "form-control", value = "@Model.Status" })
        </div>

    </div>
    <div class="form-group ">
        <label class="form-label" for="Profile">Photo</label>
        <input class="form-control-file" type="file" id="Profile" name="Profile" placeholder="Profile" value="@Model.Profile" style="color:black" />
        <img src="data:image;base64,@Model.Profile" width="80px" />

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Sals">Salary</label>
            <input type="text" name="Sals" class="form-control" placeholder="Enter Salary" value="@Model.Sals" />

        </div>
    </div>



    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-danger" href="/Manager/Employe/index">Cancel</a>




</form>

