@model List<EntityDBFIRST.Models.Product>


@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<h2>Index</h2>
<table class="table">
    <tr>
        <th>Products ID</th>
        <th>Product name</th>
        <th>Product Price</th>
        <th>DateofPurchase</th>
        <th>AvailabilityStatus</th>
        <th>CategoryID</th>
        <th>BrandID</th>
        <th>Active</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Price.Value.ToString("C")</td>
            <td>@item.DateofPurchase.Value.ToString("d/M/yyyy")</td>
            <td>@item.AvailabilityStatus</td>
            <td>@item.CategoryID</td>
            <td>@item.BrandID</td>
            <td>@item.Active</td>
        </tr>
    }


</table>


